<h1></h1>

<% @listings.each do |listing| %>
    <div >
        <p><%= listing.artist%></p>
        <p><%= listing.title%></p>


        <%# <%= link_to "edit", edit_listing_path(@listing.id) %> 
         <%# <%= link_to "show", listing_path(@listing.id) %>
    </div>
<% end %>