<div class="continute_form">

<h1>Continue Form</h1>
<%= render "form2", listing: @listing, conditions: @conditions, formats: @formats, genres: @genres, :url=>"update"%>

<%# url => "update" sign url to go to update method, which hook more view to update method %>
</div>