<h1>New Listing</h1>

<%= render "form1", listing: @listing, conditions: @conditions, formats: @formats, genres: @genres, :url=>"create"%>

<%# url => "create" sign url to go to create method, which hook new view to create method %>