<h1> My Favorite listings </h1>
<%@favorite_listings.each do |favorite| %>
    <div class ="card">
        
        <%= link_to image_tag((return_cover(favorite)), listing_path(favorite.id)) %>       
    <%=favorite.artist%> : <%=favorite.title%>

    <%=favorite.description%>
    </div>
<%end%>