// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.home {
    .home_banner { 
        margin-top: 3%;
        font-family: $logo-font;
        color: #ffffff;
        font-size: 200%;
        background-image: url(image-path("heroimage.jpg"));
        background-size: cover;                      /* <------ */
        background-repeat: no-repeat;
        background-position: center center; 
        padding: 11%;
    }
    .recent, .popular {
        font-family: $title-font;
        font-size: 150%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 70px;
        .card {
            text-align: center;
            width: 100;
            img {
                width: 50%;
                height: 50%;
            }
        }
    }
    
    display: inline-block;
  
    
    h2 {
        font-family: $title-font;
        font-weight:300;
        font-size: 200%;
        margin-left: 20px;
    }
    a {
        text-decoration-line: none;
        text-decoration: none;
        color: #384040;
    }
    a:visited {
        color: #384040;
    }
    a:hover {
       font-weight: 700;
       font-size: 125%;
    }
    a:active {
        font-weight: 700;
    }
    #wikipedia_content {
        display: flex;
        flex-direction: column;
        background: $background-a;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 50vw;
        margin-top: 20px;
         img {
            width: 30vw;
            height: auto;
        }
        
        

        #wikipedia_text {
            width: 60vw;
            height: auto;
        }
    }

       
    }

@media screen and (min-width: 1025px)  {
    .home {
        .recent, .popular {
            font-family: $title-font;
            font-size: 120%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .card {
                text-align: center;
                width: 33%;
                flex: 1 1 1;
                img {
                    width: 60%;
                    height: 75%;
                }
            }
        }
        #wikipedia_content {
            flex-direction: row;
            img {
                width: 350px;
                height: 350px;
            }
        }
    }
}