// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.user_page {
    h1, h2 {
        margin-left: 20px;
        font-size: 3em;
    }
    .user_info {
        display: flex;
        align-items: flex-start;
        .user_pic {
            margin-left: 0;
            img {
                width: 300px;
                height: 300px;
            }
        }
        .user_details {
            margin-left: 20px;
            p {
                font-weight: normal;
                font-size: 0.7em;
            }
        }
    }
    .user_current_listings {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        .card {
            text-align: center;
            width: 100%;
            flex: 1 1;
            img {
                width: 300px;
                height: 300px;
            }
        }
    }

    .search_user {
        margin-left: 20px;
        display: flex;
        p {
            display: inline-block;
        }
    }
    .search_user_results {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 80%;
        margin: 0 auto;
        ul {
            padding-left:0;
            margin-left: 20px;
            li {
                display: flex;
                flex-direction: column;
                text-align: center;
                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
    .user_favourites {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 80%;
        margin: 0 auto;
        .card {
            padding: 0 20px 20px;
            display: inline-block;
            display: flex;
            flex-direction: column;
            img {
                width: 300px;
                height: 300px;
            }

        }

    }
}

@media screen and (min-width: 1025px) {
    .user_page {
        .user_info {
            display: flex;
            .user_pic {
                img {
                    width: 300px;
                    height: 300px;
                }
            }
            .user_details {
                margin-left: 50px;
                p {
                    font-weight: normal;
                    font-size: 1em;
                }
            }
        }
    }
}
